#home {
    position: relative;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    @media screen and (max-width: 2000px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.down-arrow {
    margin-top: 2rem;
    animation-name: arrowBounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 0.2s ease;
  }

.arrow-white {
    color: var(--white-color);
    font-size: 2rem;
}

@keyframes arrowBounce {
    0% {
      transform: translateY(0px);
    }
    70% {
      transform: translateY(-20px);
    }
    80% {
      transform: translateY(0px);
    }
    90% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }