@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #02050c;
  --secondary-color: #307bdd;
  --black-color: #fff;
  --lightGray-color: #e4e4e4;
  --gray-color: #ECECEC;
  --white-color: #ECECEC;
  --test: #000;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}