@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: monospace, "DM Sans", sans-serif;

  --primary-color: #02050c;
  --secondary-color: #00c8ff;
  --black-color: #fff;
  --lightGray-color: #e4e4e4;
  --gray-color: #ECECEC;
  --white-color: #ECECEC;
  --test: #000;
}

::-webkit-scrollbar {
  width: 0.3125rem;
  background: #36363646;
}

::-webkit-scrollbar-thumb {
    background: #00c8ff;
}

::-webkit-scrollbar-track {
  background: #36363646;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}